body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6ec;
}

header {
    border-top: 5px solid #4e3b31;
    display: flex;
    justify-content: space-between;
    background-color: #f6f6ec;
}

h2 {
    color: #4e3b31;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-family: "Open Sans", sans-serif;;
}

h1 {
    color: #1b3022;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;;
}

hr {
    border-top: 2px solid #96b747;
    line-height: 5px;
    width: 70%;
    background-color: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    display: block;
    max-width: 250px;
    padding: 0px 20px 10px 20px;
}

.header-login {
    display: flex;
    justify-self: end;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
    color: #1b3022;
    text-decoration: none;
    font-size: 16px;

}

input[type="text"], [type="password"], [type="email"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 20px 0 20px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;;
}

input[type="submit"] {
    border: none;
    background: #4aaaa5;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}

button[type="submit"],
.home-btn {
    background-color: #4e3b31;
    color: #f6f6ec;
    border-radius: 20px;
    border: none;
    padding: 10px 40px 10px 40px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div {
    display: block;
    margin: auto;
}

/* .layout-div {
    display: flex;
}  */

/* .layout-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
} */

/* .navbar {
    display: flex;
    flex: 1;
    background-color: #f6f6ec;
} */


.sidebar {
    position: absolute;
    left: 20px;
    top: 150px;
    width: 150px;
    background-color: #f6f6ec;
    padding: 5px;
    color: #1b3022;
    text-decoration: none;
}

.sidebar ul li a {
  color: #1b3022;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none; 
}
.sidebar ul {
  list-style-type: none; 
  padding: 0;           
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;   
}

link {
    color: #1b3022;
}

.signup-page {
    display: block;


}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    background-color: #97b648;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

footer {
    background-color: #1b3022;
    color: #f6f6ec;
    text-align: center;
    padding: 10px 20px 30px 20px;
}

.footer-img {
    display: block;
    margin: auto;
    max-width: 300px;

}

.profile-div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.home-container {
    max-width: 90%;
    margin: auto;
    padding: 10px 30px 30px 30px;
    border: none;
    text-align: center;
}

.home-header {
    display: block;
    align-items: center;
    justify-content: center;

}

.home-title {
    text-align: center;
}

.about-img1 {
    float: left;
}

.about-container {
    max-width: 90%;
    margin: auto;
    padding: 10px 30px 30px 30px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.about-heading {
    padding-bottom: 20px;
}

.about-img1 {
    max-width: 300px;
    text-align: center;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 20px;
}

.card {
    margin: 15px auto;
}